.form__input {
  margin-bottom: 30px;
  background-color: black;
  color: white;
  border: none;
  border-bottom: 1px solid #ccc;
  padding-top: 13px;
  padding-bottom: 13px;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form__input:last-of-type {
  margin-bottom: 216px;
}

::placeholder {
  color: #ccc;
}